@import '_variables';

.bg-focus:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    z-index: -1;
}

.bg-focus {
    // padding: 3px 6px;
    padding: 1px 10px;
}

.bg-focus:focus-visible:before {
    opacity: 1;
}

.bg-focus:hover:not(:focus-visible) {
    color: $primary_shade;
    background: none;
    outline: none;
    transition: color .3s ease;
}

.bg-focus:focus-visible {
    color: $primary_shade;
    background: $pink_violet;
    outline: none;
    transition: background .3s ease-in-out;
}

.bg-focus:active:not(:focus-visible) {
    color: $primary_shade;
    background: none;
}


.bg-focus:active:not(:focus-visible) svg {
    transform: rotate(180deg);
}