@import '_variables';
@import '_mixin';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    padding: 0 320px;
    margin: 0 auto;
    max-width: $containerMaxWidth;
    @include respond(x-large) {
        padding: 0 60px;
    }
    @include respond(large) {
        padding: 0 37px;
    }
    @include respond(medium) {
        padding: 0 72px;
    }
    @include respond(small) {
        padding: 0 22px;
    }
    @include respond(x-small) {
        padding: 0 12px;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input[type="email"] {
    outline: none;
}

svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
    }

p {
    background: $gold;
    font-size: 50px;
    font-family: $font_playfair_display;
}

